body {
    width: 350px;
    height: 350px;
    background-color: #31802d;
}

.concert_card {
    display: flex;
    margin: 10px;
}

.card__img {
    order: -1;
}

.card__img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card__title {
    flex: 1;
    text-align: right;
}

.card__description {
    flex: 1;
    text-align: right;
    margin-top: 5px;
}
